{% extends "base.html" %}
    {% load static %}

{% load bootstrap4 %}

{% block head %}
    <title>BrookStone</title>
{% endblock %}

{% block content %}
    <div class="container mb-3 mt-3">
            <div class="view-form">
                <form method="POST" enctype="multipart/form-data" class="form">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline'%}
                    {% buttons %}
                        <button class="btn btn-primary" type="submit" value="save">Search</button>
                    {% endbuttons %}
                </form>
            </div>
            <table id="example" class="table table-striped table-bordered table-sm " cellspacing="0"
  width="100%" style="min-width: 500px;">
                <thead>
                    <tr class="thead-light">
                        <th class="text-center">S/N</th>
                        <th class="text-center">Last Name</th>
                        <th class="text-center">First Name</th>
                        <th class="text-center">Middle Name</th>
                        <th class="text-center">Gender</th>
                        <th class="text-center" style="min-width: 100px;">Class Name</th>



                        <th class="text-center" style="min-width: 100px;">Status</th>
                        <th class="text-center">Update</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>
                {% for student in students %}
                    <tr>
                        <td><a href="/StudentManager/viewStudentProfile/{{ student.pk }}"><b>{{ forloop.counter }}</b></a></td>
                        <td><a class="btn w-100" href="/StudentManager/viewStudentProfile/{{ student.pk }}">{{ student.LastName }}</a></td>
                        <td><a class="btn w-100" href="/StudentManager/viewStudentProfile/{{ student.pk }}">{{ student.FirstName }}</a></td>
                        <td><a class="btn w-100" href="/StudentManager/viewStudentProfile/{{ student.pk }}">{{ student.MiddleName }}</a></td>

                        <td><a class="btn w-100" href="/StudentManager/viewStudentProfile/{{ student.pk }}">{{ student.Gender }}</a></td>
                        <td><a class="btn w-100" href="/StudentManager/viewStudentProfile/{{ student.pk }}">{{ student.ClassName }}</a></td>
                        <td>
                            <form method="POST" enctype="multipart/form-data" action="/StudentManager/allowStudent/{{ student.pk }}" class="form">
                                {% csrf_token %}
                                {% if student.Clear == "Yes" %}
                                    <button class="btn btn-success" id="Allowed{{ student.pk }}" type="submit" value="save" >
                                        Allowed
                                    </button>
                                {% else %}
                                    <button class="btn btn-warning" id="NotAllowed{{ student.pk }}" type="submit" value="save">
                                        Not Allowed
                                    </button>
                                {% endif %}
                            </form>
                        </td>
                        <td>
                            <a href="/StudentManager/viewUpdateStudentRecord/{{ student.pk }}"><button class="btn btn-primary">Update</button></a>
                        </td>
                        <td>
                            <!-- Button to Open the Modal -->
                            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{ student.pk }}">
                              Delete
                            </button>

                            <!-- The Modal -->
                            <div class="modal" id="myModal{{ student.pk }}">
                              <div class="modal-dialog">
                                <div class="modal-content">

                                  <!-- Modal Header -->
                                  <div class="modal-header">
                                    <h4 class="modal-title">Delete Record</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                  </div>

                                  <!-- Modal body -->
                                  <div class="modal-body">
                                    Are you sure that you want to delete this record?
                                  </div>

                                  <!-- Modal footer -->
                                  <div class="modal-footer">
                                      <form method="POST" action="/StudentManager/viewDeleteStudentRecord/{{ student.pk }}" >
                                        {% csrf_token %}
                                        <button class="btn btn-danger" type="submit" value="save">Yes</button>
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                      </form>

                                  </div>

                                </div>
                              </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
{% endblock %}

